<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I'm a Second year engineering undergraduate student from Delhi Technological University (formerly DCE). Self taught programmer with experience over a year and a passion in iOS.  <br/><br/>
			I'm also proficient in Java with concepts of OOPs, algorithms and data structures <br/><br/>
			I enjoy creating great products with great user experiences and working in a dynamic environment with a focus on good development practices.
		</div>
		<br>
	</div>
</div>
